h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading-about {
    font-size: 4rem;
    padding-top: 50px;
    color: #fff;
    margin-left: 70px;
  }

  &.sm-heading-about {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    margin-left: 70px;
    background: rgba(lighten($primary-color, 2), 0.5);
    width: 70%;
    color: #fff;
  }
}
body {
  overflow: hidden;
}
p,
h3 {
  color: #fff;
}

.about-info {
  margin-bottom: 300px;
  display: grid;
  gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
  padding: 1rem;
}
.bio {
  position: relative;
  grid-area: bio;
  font-size: 1.2rem;
}

.job-1 {
  grid-area: job1;
  .img-wraper-job1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-self: center;
    padding: 50px;
    img {
      justify-self: center;
    }
  }
}
.job-2 {
  grid-area: job2;
  .img-wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-self: center;
    padding: 30px;
    img {
      justify-self: center;
    }
  }
}
.job-3 {
  grid-area: job3;
}

.job {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: #fff;
  height: 60px;
}
