#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;

  div {
    font-size: 2rem;
    border: 3px white solid;
    padding: 1.5 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: #000;
      span {
        color: #fff;
      }
    }
  }
}
